@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlbertSans";
  src: url("../AlbertSans-Variable.ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("../WorkSans-Variable.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* firefox scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #888;
}